@model Stackit.Domain.DTO.UserDTO

@{
    ViewData["Title"] = "Sign In";
}

<div class="form-container">
    <h1>Sign In</h1>
    <form asp-controller="Registration" asp-action="Enter" method="post" class="base-form">
        <div class="mb-3">
            <label for="username" class="form-label">Login</label>
            <input asp-for="username" type="text" class="form-control" id="username">
                @Html.ValidationMessageFor(message => message.username)
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input asp-for="password" type="password" class="form-control" id="password">
                @Html.ValidationMessageFor(message => message.password)
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}