@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-center">Dashboard</h1>

<div class="buttons-container">
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Users">Users</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Publications">Publications</a>
</div>
