@model Stackit.Domain.DTO.UserDTO

@{
    ViewData["Title"] = "Edit User";
}

<div class="form-container">
    <h1>Edit user</h1>
    <form asp-controller="User" asp-action="Edit" method="post" class="base-form">
        <input type="hidden" asp-for="id"/>
        <div class="mb-3">
            <label for="username" class="form-label">Login</label>
            <input asp-for="username" type="text" class="form-control" id="username">
                @Html.ValidationMessageFor(message => message.username)
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input asp-for="email" type="email" class="form-control" id="email">
                @Html.ValidationMessageFor(message => message.email)
        </div>
        <input type="hidden" asp-for="password"/>
        <input type="hidden" asp-for="profile"/>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}