@model Stackit.Domain.Entities.User


<div class="container">
    <figure class="full-center">
        <img class="profile-image" src="~/images/userProfile.png" alt=""/>
    </figure>
    <div class="publications-container">
        <div class="btn-container">
            <button id="btn-create-publication" class="btn btn-primary">Create publication</button>
        </div>
        <div class="user-publications">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
</div>