@model Stackit.Domain.DTO.UserDTO

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Stackit</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="home-navbar navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>

        @if (Model.profile == Stackit.Domain.Enums.ProfileEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
    </ul>

    @if (Model.profile == Stackit.Domain.Enums.ProfileEnum.LoggedOut)
    {
        <a id="btn-signin" class="btn btn-primary" asp-controller="Registration" asp-action="Signin">Sign in</a>
        <a id="btn-signup" class="btn btn-primary" asp-controller="Registration" asp-action="Signup">Sign up</a>
    }
    else
    {
        <a class="" asp-controller="User" asp-action="">
            <img class="home-profile-image" src="~/images/userProfile.png" alt="">
        </a>
    }
    
</div>