@model Stackit.Domain.DTO.PublicationDTO

@{
    ViewData["Title"] = "New publication";
}

<div class="form-container">
    <h1>New publication</h1>
    <form asp-controller="Publication" asp-action="Create" method="post" class="base-form">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input asp-for="title" type="text" class="form-control" id="title">
                @Html.ValidationMessageFor(message => message.title)
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea asp-for="content" type="text" class="form-control publication-textarea" id="content"></textarea>
                @Html.ValidationMessageFor(message => message.content)
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}