html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.publications-container {
    width: 60%;
    margin: 0 auto;
}

.btn-container {
    margin-bottom: 20px;
}

.profile-image {
    width: 200px;
}

.mini-user-profile {
    display: flex;
    flex-direction: row;
}

.mini-profile-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#btn-create-publication {
    width: 100%;
}

